@model IEnumerable<ProjetoCodeIT.Web.ViewModels.FreteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Frete</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idFrete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idFrete }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.idFrete })
        </td>
    </tr>
}

</table>
